<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  
  <assembly name="SimplerScore" />
  
  <namespace name="SimplerScore" />
  <namespace name="SimplerScore.Controllers" />
  <namespace name="SimplerScore.DataAccess" />
  <namespace name="SimplerScore.DataObjects" />
  <namespace name="SimplerScore.Models" />
  <namespace name="SimplerScore.Models.Computation" />
  

  <container>
    <!-- Database instance name setting -->
    <instance name="dbInstanceName"
              value="simplerscore.db" />
    
    <!-- Validators -->
    <register type="IValidatorBuilder´1[ICurrentProvider]"
              mapTo="CurrentProviderWithCurrentMeetValidatorBuilder"
              name="withMeet" />

    <register type="IValidatorBuilder´1[ICurrentProvider]"
              mapTo="CurrentProviderWithCurrentEventValidatorBuilder"
              name="withEvent" />
    
    <register type="IValidatorBuilder´1[ICurrentProvider]"
              mapTo="CurrentProviderWithoutScoringModelValidatorBuilder"
              name="withoutScoring" />
    
    <!-- Webapi controllers -->
    <register type="AboutController" />
    <register type="AthleteController"/>
    <register type="JudgePanelController"/>
    <register type="MeetController" />
    <register type="EventController"/>

    <!-- Data provider -->
    <register type="IDataProvider"
              mapTo="DataProvider">
      <constructor>
        <param name="dbInstanceName">
          <dependency type="System.String"
                      name="dbInstanceName" />
        </param>
      </constructor>
      <method name="Initialize" />
    </register>
    
    <!-- current container -->
    <register type="ICurrentProvider"
              mapTo="CurrentProvider" />

    <!-- singleton, lifetime manager !!! -->
  
  </container>

</unity>
